.main{
    width: 100%;
    padding: 100px 20px 50px 220px;
     background: $light_grey;
    transition: all 0.3s linear;
    height: 100vh;
    @media($breckpoint_MD){
        padding: 100px 20px 50px 21px;
    }
    @media($breckpoint_LG){
        height: 100%;

        }


    .card{
        background: none;
        border: none;
        padding: 20px 10px;
        .row{
            display: flex;
            margin: auto;
            width: 100%;
        }


    }
    h1{
        font-size: 25px;
    }
    .for_input{
        display: flex;
        margin-bottom: 20px;
         justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        .search{
            position: absolute;
            left: 8px;
            top: 15px;    
            font-size: 20px;
            @media($breckpoint_SM_500){
                top: 25px;    
            }
            
        }
        .searching{
            position: relative;
            @media($breckpoint_SM){
                width: 100%;
            }
        }
        input{
            padding: 11px 12px ;
            border-radius: 10px;
            border: none;
            padding-left: 29px;
            background:$white;
          

            &:focus{
                border: none;
                outline: none;
            }
            @media($breckpoint_SM_500){
                margin-top: 10px;
            }
            @media($breckpoint_SM){
                width: 100%;
            }
        }
        @media($breckpoint_SM){
            flex-direction: column;
            align-items: start;
        }
      
        
    }
    @media($breckpoint_MD){
        padding: 100px 0px 50px 0;
    }
}
.dashboard{
    width: 100%;
    background-color: $light_grey;
    display: flex;
    position: relative;
    
    h3{
        padding-left: 30px;
        margin: 40px 0;
    }
   

  
   
}

.menu{
    width:100%;
    position: fixed;
    top: 0;
    // left: 270px;
    box-sizing: border-box;
    z-index: 1;

    
 
    .menu-bar{
        padding: 16px 51px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color:$white;
        padding-left: 204px !important;
        transition: all 0.3s linear;
        @media($breckpoint_MD){
            padding-left: 10px !important;
        }
      
        @media($breckpoint_SM){
            padding: 15px 7px;
        }
       
        button{
            background: none;
            border: none;
            color: $black;
            .toggle_icon{
                font-size: 30px;
            }
        }
        .profile{
            display: flex;
            align-items: center;
            img{
                height: 40px;
                border-radius: 30px;
            }
            .user{
                padding-left: 10px;
                h3{
                    margin: 0;
                    font-size: 13px;
                }
                p{
                    margin: 0;
                    font-size: 10px;
                }
            }
            @media($breckpoint_SM_500){
                margin-top: 15px;
            }
        }
      
    }

   

}
.sidebar{
    width: 204px;
    position: fixed;
    left: 0;
    top: 0;
    padding: 0px;
    background-color:$white;
    z-index: 2;
    box-shadow: 4px 10px 10px -12px $black;
    transition: all 0.3s linear;
    height: 100vh;
    overflow: hidden;
    .clear_button{
        float: right;
        background: none;
        border: none;
        margin-top: 2px;
        display: none;
        color: $primary;
        @media($breckpoint_MD){
            display: block;
        }
       
    }
    .logo{
        display: flex;
        align-items: center;
        padding: 30px 21px;
        .window{    
            color: $blue;
            font-size: 19px;
            margin-right: 4px;
        }
        p{
            color: $black;
            margin: 0;
            font-size: 17px;
            font-weight: 700;
            @media($breckpoint_SM_500){
                font-size: 17px;
            }
        }
    }
    .list-group{
        padding: 10px 12px;
         
        
            a{
                text-decoration: none;
                font-size: 16px;
                padding-left: 8px;
                color: $grey;
                 font-weight: 400;
                 padding: 10px 20px; 
                border-radius: 10px;
                display: flex;
                align-items: center;
                span{
                    margin-left: 4px;
                }
                .home{
                    font-size: 17px;
                }
                &:hover{
                    background: $blue;
                    color: $white;
                    .home{
                        color: $white;
                         
                        
                    }
                }             
            }
           
         
         
        
    }
    @media($breckpoint_MD){
        position: absolute;
        z-index: 2;
        left: -50%;
        width: 36%;
        // display: none;
       
       
    }
   
    @media($breckpoint_340){
        width: 50% !important;
}
    
}



.changeStyle{
        
        .sidebar{
            width: 4%;
            overflow: hidden;
           
          
         
        
            @media($breckpoint_LG){
                width: 5%;

            }

        @media($breckpoint_SM){
            width: 60%;
        }
        @media($breckpoint_MD){
            // display: block;
            width: 50%;
            left: 0px;
        }
      
        .logo{
            padding: 37px 11px;
            p{
                display: none;
                @media($breckpoint_MD){
                    display: block;
                }
            }
        }
        .list-group{
            padding: 8px 6px;
            a{
                padding: 10px 13px;
                
                span{
                   display: none;
                   @media($breckpoint_MD){
                    display: block;
                   }
                }
               @media($breckpoint_LG){
                padding: 10px 8px;
               }
                
               @media($breckpoint_XL){
                padding: 10px 8px;
               }
                
            }

        }
        }
        .menu{
            width: 100%;
            .menu-bar{
                padding-left: 66px !important;
                @media($breckpoint_MD){
                    padding-left: 10px !important;;
                }
            }
         
           
        }
            .main{
                padding-left: 61px;
                @media($breckpoint_MD){
                    padding-left: 0px;
                }

            }
        
        
}

