// .form{ 
//     padding: 30px;
//     border-radius: 12px;
//         font-family: ui-serif;
        
// }


.admin{
    display: flex;
    justify-content: space-between;
    font-family: ui-serif;
    padding: 9px;
    form{
        width: 50%;
        padding: 30px 15px;
        color: $white;
        background: $sidebar;
        border-radius: 4px;
        label{
            margin-top: 10px;
        }
        input{
            background: $main_back;
            margin-top: 2px;
            border: 1px solid $grey;
            &:focus{
                box-shadow: none;
                background: none;
                color: $white;
                border: 1px solid $grey;
            }
        }
        .form-select{
            margin-top: 6px;
            background: $main_back;
            color: $white;
            padding: 2px 8px;
            &:focus{
                box-shadow: none;
                border: 1px solid $grey;
            }
        
        }

        .custom-btn{
            background: $main_back;
            margin-top: 20px;
            color: $white;
            font-size: 15px;
            border-radius: 5px;
        }
        @media($breckpoint_LG){
            width: 100%;
        }
    }

    @media($breckpoint_LG){
        flex-direction:column;
        margin-bottom: 50px;
    }
}

.for_padding{
    padding-bottom: 100px;
}