.price_table{
    padding: 10px 20px;
    background:$sidebar;
    margin: 0 10px;
    border-radius: 10px;
    .data{
    table{
        width: 100%;
        thead{
            tr{
                border-bottom: 1px solid $light_grey;
                margin-bottom: 10px;
                th{
                    padding: 10px 20px;
                    font-size: 17px;
                    color: $white;

                }
            }
        }

        .table-body{
          padding-bottom: 10px !important;
            .table_row{
                    border-bottom: 1px solid $light_grey;
                    padding-bottom: 10px !important;
                td{
                    padding: 10px 20px;
                    font-size: 13px;
                    color: $white;
                   
                    .customer{
                        display: flex;
                        // padding: 2px 15px;
                        align-items: center;
                        .image{
                            height: 30px;
                            margin-right: 10px;
                            img{
                                height: 100%;
                                width: 100%;
                                border-radius: 50%
                            }
                          
                        }
                        p{
                            margin-bottom: 0px !important;
                        }
                    }

                    .edit{
                        border: none;
                        border-radius: 6px;
                        padding: 6px 17px;
                        background: $sidebar;
                        color: $white;
                    }
                }
            }
        }

        @media($breckpoint_LG){
            width: 700px;
        }
      
    }
    @media($breckpoint_LG){
        overflow: hidden;
        overflow-x: scroll;
    }
}
    .for_input{
        h1{
            color: $white   ;
        }
        .page{
            display: flex;
            .form-select{
                width: 26%;
                background: $main_back;
                color: $white;
                border: none;
                margin-right: 10px;
                &:focus{
                    box-shadow: none;
                }
                @media($breckpoint_ESM){
                    width: 35%;
                }
            }

            @media($breckpoint_SM){
                width: 100%;
            }
        }
        .searching{
           
            .search{
                color: $white;
            }
            input{
                background: $main_back;
                color: $white;
                &::placeholder{
                    color: $white;
                }
            }
        }
    
    }


}


.page{
    margin-top: 15px;
    .pagination{
        display: flex;
        justify-content: center;
        .page-item{
            .page-link{
                background: $sidebar;
                color: $white;
                border: 1px solid $grey;
                &:focus{
                    box-shadow: none;
                }
              

            }
        
        }
        .active{
            .page-link{
                border: 1px solid $white;
            }
        }
    }
}